html {
    background: rgb(234, 234, 234);
    padding: 0pt;
}

body {
    text-align: center;
    background: rgb(255, 120, 0);
    margin: auto;
    width: 70%;
    font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
    font-size: 0.8em;
}

section, div {
    background: white;
}

#help , #intro {
    text-align: left;
    padding: 10px;
}

header {
    text-align: center;
    background: rgb(255, 120, 0);
    color: white;
}

header img {
    border-radius: 10px;
    margin: 15px;
}

.img {
    text-align: center;
    margin-top: 5px;
}

.img img {
    width: 80%;
}

#navicom_logo {
    height: 150px;
}

#logos {
    height: 100px;
    background: rgb(255, 120, 0);
}

h1 {
    font-size: 2.8em;
    text-align: center;
    margin: auto;
    background: rgb(255, 120, 0);
    color: white;
    width: 40%;
    position: relative;
    top: -1em;
    margin-bottom: 1em;
}

h1 a {
    text-decoration: none;
    color: white;
}

#slogan {
    font-size: 0.4em;
}

h2 {
    font-size: 2em;
    width: 100%;
    margin: 0px 0px;
    text-align: center;
    background: rgb(255, 120, 0);
    color: white;
}

h3 {
    text-decoration: underline;
}

h4 {
    margin-left: 20px;
}

p {
    padding: 1px;
    margin: auto;
    text-align: justify;
    width: 80%;
}

form {
    padding: 10px;
}

table, fieldset {
    width: 70%;
    /*background: rgb(255, 193, 64);*/
    background: rgb(200, 200, 200);
    margin: auto;
    border-radius: 10px;
}


button {
    background: #DDDD99;
    border-radius: 5px;
}

td {
    padding: auto;
}

legend {
    font-weight: bold;
    float: left;
    /*position: relative;*/
    /*top: 8px;*/
}

#logs {
    text-align: center;
    font-size: 1.3em;
    color: #993300;
}

#loading_spinner {
    display:none;
    /*position: fixed;*/
    top: 40%;
    left: 45%;
}

#loading {
    text-align: center;
}

#nc_perform {
    width: 15%;
    height: 5%;
    padding: 10px;
    font-size: 1.1em;
}

#data_download {
    /*position: absolute;*/
    /*right: 25%;*/
}

#map_url {
    width: 60%;
}

#cbiolink {
    height: 2em;
}

.select_help {
    position: relative;
    bottom: -8px;
    margin-top: -8px;
}

.separator {
    height: 20em;
}

.small {
    font-size: 0.8em;
}
